<footer class="footer">
    <div class="pictures-block show-for-medium">
        <ul class="widget-block">
            <li><img src="assets/img/widget-img-01.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-02.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-03.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-04.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-05.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-06.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-07.jpg" alt=""></li>
            <li><img src="assets/img/widget-img-08.jpg" alt=""></li>
        </ul>
    </div>
    <!-- subscribe block -->
    <div class="subscribe-block show-for-medium">
        <div class="subscribe">
            <div class="row">
                <span class="column medium-7">Subscribe to our newsletter</span>
                <form class="column medium-5">
                    <input class="input-subscribe" type="email" placeholder="Email Address">
                    <button class="button" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <!-- subscribe block end-->
    <!-- footer-main -->
    <div class="footer-main">
        <!--footer main mobile-->
        <div class="row footer-main-mobile show-for-small-only pd-s">
            <div class="footer-main-mobile__project-descr">
                <h3>PASCO</h3>
                <p class="pd-b-xs">The one constant thing in our life is change. We cannot avoid it and
                    the more we resist change the tougher our life becomes. I know this
                    because I was very skilled at deflecting change in life.
                    The one constant thing in our life is change. We cannot avoid it and
                    the more we resist change the tougher our life becomes. I know this
                    because I was very skilled at deflecting change in life.</p>
                <a href="#" class="button">READ MORE</a>
            </div>
            <div class="footer-main-mobile__categories pd-b-s">
                <h3>Categories</h3>
                <ul class="no-bullet">
                    <li><a href="#">Photography<span>195</span></a></li>
                    <li class="top-separator"><a href="#">Illustration<span>15</span></a></li>
                    <li class="top-separator"><a href="#">Grapphic Design<span>36</span></a></li>
                    <li class="top-separator"><a href="#">Web Design<span>220</span></a></li>
                    <li class="top-separator"><a href="#">Videography<span>17</span></a></li>
                    <li class="top-separator"><a href="#">Illustration<span>15</span></a></li>
                    <li class="top-separator"><a href="#">Grapphic Design<span>36</span></a></li>
                </ul>
            </div>
            <div class="footer-main-mobile__tags pd-b-s">
                <h3>Tags</h3>
                <div class="footer-main-mobile__tags-list">
                    <a>Photography</a>
                    <a>Webdesign</a>
                    <a>Youtube</a>
                    <a>Envato</a>
                    <a>Art</a>
                    <a>Themeforest</a>
                    <a>Illustration</a>
                    <a>Photodune</a>
                    <a>Pasco</a>
                    <a>Art</a>
                    <a>Codecanyon</a>
                    <a>Videohive</a>
                </div>
            </div>
            <div class="footer-main-mobile__flickr">
                <h3>Flickr</h3>
                <ul class="flickr-widget-item no-bullet">
                    <li><img src="assets/img/blog-img-10.jpg" alt=""></li>
                    <li><img src="assets/img/blog-img-11.jpg" alt=""></li>
                    <li><img src="assets/img/blog-img-12.jpg" alt=""></li>
                    <li><img src="assets/img/blog-img-13.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <!--footer main mobile end-->
        <div class="row show-for-medium">
            <!-- Pages Widget -->
            <div class="column medium-6 large-3 pages-widget">
                <h4>Pages Widget</h4>
                <ul class="accordion pages-widget-list" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Home</a>
                        <div class="accordion-content" data-tab-content>
                            <ul>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Pages</a>
                        <div class="accordion-content" data-tab-content>
                            <ul>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Portfolio</a>
                        <div class="accordion-content" data-tab-content>
                            <ul>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Blog</a>
                        <div class="accordion-content" data-tab-content>
                            <ul>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Shop</a>
                        <div class="accordion-content" data-tab-content>
                            <ul>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Pages Widget end-->
            <div class="column medium-6 large-3 twitter-widget">
                <h4>Twitter Widget</h4>
                <ul class="twitter-list">
                    <li class="twitter-list__item bottom-separator">
                        <span class="icon pd-xs float-left">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        </span>
                        <p>@PASCO, Duis commodo elit sed nisi molestie</p>
                        <div class="twitter-list__item__bottom">
                            <span>2 hours ago <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            <a href="#">Reply</a>
                            <a href="#">Retweet</a>
                            <a href="#">Favorite</a>
                        </div>
                    </li>
                    <li class="twitter-list__item bottom-separator">
                        <span class="icon pd-xs float-left">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        </span>
                        <p>@PASCO, Duis commodo elit sed nisi molestie</p>
                        <div class="twitter-list__item__bottom">
                            <span>2 hours ago <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            <a href="#">Reply</a>
                            <a href="#">Retweet</a>
                            <a href="#">Favorite</a>
                        </div>
                    </li>
                    <li class="twitter-list__item">
                        <span class="icon pd-xs float-left">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        </span>
                        <p>@PASCO, Duis commodo elit sed nisi molestie</p>
                        <div class="twitter-list__item__bottom">
                            <span>2 hours ago <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            <a href="#">Reply</a>
                            <a href="#">Retweet</a>
                            <a href="#">Favorite</a>
                        </div>
                    </li>
                </ul>

                <h4>Social Widget</h4>
                <ul class="row align-justify social-widget">
                    <li class="column medium-2"><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="column medium-2"><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="column medium-2"><a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    <li class="column medium-2"><a href="#" class="pinterest-p"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li class="column medium-2"><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li class="column medium-2"><a href="#" class="tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="column medium-6 large-3 flickr-widget">
                <h4>Flickr Widget</h4>
                <ul class="flickr-widget-item">
                    <li><img src="assets/img/flickr-01.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-02.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-03.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-04.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-05.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-06.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-07.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-08.jpg" alt=""></li>
                    <li><img src="assets/img/flickr-09.jpg" alt=""></li>
                </ul>
            </div>
            <!-- news-letter -->
            <div class="column medium-6 large-3 news-letter">
                <h4>News Letter</h4>
                <form class="form">
                    <input class="input" type="text" placeholder="Name">
                    <input class="input" type="email" placeholder="Email Address">
                    <textarea rows="7" class="input" placeholder="Message"></textarea>
                    <button class="button">Subscribe</button>
                </form>
            </div>
            <!-- news-letter end -->
        </div>
    </div>
    <!-- footer-main end-->
    <!-- footer bottom -->
    <div class="footer-nav">
        <div class="row show-for-medium">
            <ul class="menu float-left">
                <li><a>Home</a></li>
                <li><a>Portfolio</a></li>
                <li><a>Blog</a></li>
                <li><a>Pages</a></li>
                <li><a>Shop</a></li>
                <li><a>Components</a></li>
                <li><a>Features</a></li>
            </ul>
            <div class="float-right footer-nav__right-block">
                <form class="search">
                    <input class="input-search" type="text" placeholder="Search">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </form>
                <a href="#" class="lang"><i class="material-icons">language</i>
                    <span>eng</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </div>
        </div>
        <!--footer-nav mobile-->
        <div class="show-for-small-only footer-nav-mobile pd-s">
            <ul class="row align-justify menu expanded footer-nav-mobile__social">
                <li class="column small-2"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="column small-2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="column small-2"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li class="column small-2"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li class="column small-2"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                <li class="column small-2"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
            <div class="footer-nav-mobile__copywrite-block">
                <span class="vertical-border mg-r-s">&copy; 2016 PASCO</span><span>All Rights Reserved</span>
            </div>
        </div>
        <!--footer-nav mobile end-->
    </div>
    <!-- footer bottom end -->
</footer>