<header class="header">
    <div class="row header__top">
        <div class="top-bar-left hide-for-small-only">
            <ul class="menu social-block">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="top-bar-right hide-for-small-only">
            <ul class="dropdown menu settings-block" data-dropdown-menu>
                <li>
                    <a href="#" class="vertical-border"><i class="material-icons">account_circle</i>sign in</a>
                </li>
                <li>
                    <a href="#"><i class="material-icons">language</i>eng
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </li>
            </ul>
        </div>
        <!--header__top mobile-->
        <ul class="dropdown menu settings-block-mobile clearfix show-for-small-only" data-dropdown-menu>
            <li class="float-left">
                <a href="#"><i class="material-icons">language</i>eng
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </li>
            <li class="float-right">
                <a href="#" class="vertical-border"><i class="material-icons">account_circle</i>sign in</a>
            </li>
        </ul>
        <!--header__top mobile end-->
    </div>

    <div class="expanded row header__main">
        <div class="row top-menu-block">

            <div class="row title-bar pd-s" data-responsive-toggle="mobile-nav" data-hide-for="large">
                <button class="columns small-1 medium-1 menu-icon" type="button" data-toggle="mobile-nav"></button>
                <a href="#" class="columns small-10 medium-10 mobile-logo">Pasco</a>
                <a href="#" class="columns small-1 medium-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </div>

            <div class="column medium-1 large-2 logo show-for-large">
                <a href="#">Pasco</a>
            </div>
            <!--mobile nav-->
            <nav class="column small-6 mobile-menu-block hide-for-large"
                 data-topbar
                 role="navigation">
                <ul class="vertical menu mobile-menu" id="mobile-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Features</a></li>
                </ul>
            </nav>
            <!--mobile nav end-->
            <!--main nav-->
            <nav class="column large-8 show-for-large"
                 data-topbar
                 role="navigation">

                <ul class="dropdown menu main-nav" data-dropdown-menu>
                    <li class="active">
                        <a>Home<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Portfolio<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Blog<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Pages<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Shop<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Components<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Features<i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="menu-vertical">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--main nav end-->

            <div class="column medium-1 large-2 show-for-large">
                <ul class="menu simple right-items">
                    <li class="vertical-border"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    <li class="vertical-border"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="orbit show-for-large" role="region" aria-label="Popular Blog" data-orbit>
            <ul class="orbit-container">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>
                    <i class="material-icons">keyboard_arrow_left</i></button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>
                    <i class="material-icons">keyboard_arrow_right</i></button>
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="assets/img/header-bg.jpg" alt="">
                    <figcaption class="orbit-caption">
                        <div class="info-block align-center align-self-middle">
                            <div class="info-block__main">
                                <h2>Inspiration</h2>
                                <h1>5 ways milllennials can start
                                    <br>building their future today
                                </h1>
                                <a href="#" class="button">Read More</a>
                            </div>
                            <div class="info-block__author pd-s">
                                <div class="photo">
                                    <img src="assets/img/user-1.png" alt="">
                                </div>
                                <div class="name">Henry Little</div>
                                <div class="date">April 28, 2016 10:15</div>
                            </div>
                            <div class="blog-feedback pd-s">
                                <span class="pd-s"><i class="material-icons pd-r-xxs">question_answer</i>Comments (28)</span>
                                <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>Likes (07)</span>
                            </div>
                        </div>
                    </figcaption>

                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="assets/img/header-bg.jpg" alt="">
                    <figcaption class="orbit-caption">
                        <div class="info-block align-center align-self-middle">
                            <div class="info-block__main">
                                <h2>Inspiration</h2>
                                <h1>5 ways milllennials can start
                                    <br>building their future today
                                </h1>
                                <a href="#" class="button">Read More</a>
                            </div>
                            <div class="info-block__author pd-s">
                                <div class="photo">
                                    <img src="assets/img/user-1.png" alt="">
                                </div>
                                <div class="name">Henry Little</div>
                                <div class="date">April 28, 2016 10:15</div>
                            </div>
                            <div class="blog-feedback pd-s">
                                <span class="pd-s"><i class="material-icons pd-r-xxs">question_answer</i>Comments (28)</span>
                                <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>Likes (07)</span>
                            </div>
                        </div>
                    </figcaption>

                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="assets/img/header-bg.jpg" alt="">
                    <figcaption class="orbit-caption">
                        <div class="info-block align-center align-self-middle">
                            <div class="info-block__main">
                                <h2>Inspiration</h2>
                                <h1>5 ways milllennials can start
                                    <br>building their future today
                                </h1>
                                <a href="#" class="button">Read More</a>
                            </div>
                            <div class="info-block__author pd-s">
                                <div class="photo">
                                    <img src="assets/img/user-1.png" alt="">
                                </div>
                                <div class="name">Henry Little</div>
                                <div class="date">April 28, 2016 10:15</div>
                            </div>
                            <div class="blog-feedback pd-s">
                                <span class="pd-s"><i class="material-icons pd-r-xxs">question_answer</i>Comments (28)</span>
                                <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>Likes (07)</span>
                            </div>
                        </div>
                    </figcaption>
                </li>

            </ul>
        </div>
    </div>
</header>