<article class="columns large-8 medium-8 small-12 align-self-stretch">
    <ul class="row blog-list">
        <li class="column medium-12">
            <!-- main blog -->
            <section class="blog main-blog mg-b-s">
                <div class="blog__picture">
                    <a href="#"><img src="assets/img/blog-img-01.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                                    <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>
                                        7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-s blog__description">
                    <h3><a href="#">10 Things To Do To Change Your Life Forever</a></h3>
                    <p>The one constant thing in our life is change. We cannot avoid it and
                        the more we resist change the tougher our life becomes. I know this
                        because I was very skilled at deflecting change in life.</p>
                </div>
                <div class="pd-s top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
            <!-- main blog end-->
        </li>
        <!-- vertical-blog-list start -->
        <li class="column medium-12 small-12 vertical-blog-list__item">
            <section class="blog mg-b-s clearfix">
                <div class="mg-r-xs blog__picture mg-r-small float-left">
                    <a href="#"><img src="assets/img/blog-img-02.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description">
                    <h3><a href="#">4 Natural Ways To Have Young Skin</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left hide-for-small-only">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
        <li class="column medium-12 small-6 vertical-blog-list__item">
            <section class="blog mg-b-s clearfix">
                <div class="mg-r-xs blog__picture float-left">
                    <a href="#"><img src="assets/img/blog-img-03.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description">
                    <h3><a href="#">Six Hobbies That Can Help You Beat Stress</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left hide-for-small-only">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
        <li class="column medium-12 small-6 vertical-blog-list__item">
            <section class="blog mg-b-s clearfix">
                <div class="mg-r-xs blog__picture float-left">
                    <a href="#"><img src="assets/img/blog-img-04.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description hide-for-small-only">
                    <h3><a href="#">10 Singals From Your Body Telling You Should Sleep</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author hide-for-small-only clearfix">
                    <div class="pd-r-xs float-left">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>

        <!-- vertical-blog-list end -->
        <!-- horizontal list start -->

        <li class="column medium-4 small-6 horizontal-blog-list__item float-right">
            <section class="blog mg-b-s clearfix">
                <div class="blog__picture">
                    <a href="#"><img src="assets/img/blog-img-05.jpg" alt=""></a>
                    <figcaption class="pd-xs opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-xs"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description">
                    <h3><a href="#">Food That Actually Taste Better When You Freeze</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left hide-for-small-only">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
        <li class="column medium-4 small-6 horizontal-blog-list__item float-left">
            <section class="blog mg-b-s">
                <div class="blog__picture">
                    <a href="#"><img src="assets/img/blog-img-06.jpg" alt=""></a>
                    <figcaption class="pd-xs opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-xs"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description hide-for-small-only">
                    <h3><a href="#">Why It’s Amazing To Date People Who Love Traveling</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author hide-for-small-only clearfix">
                    <div class="pd-r-xs float-left hide-for-small-only">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
        <li class="column medium-4 small-12 horizontal-blog-list__item">
            <section class="blog mg-b-s clearfix">
                <div class="blog__picture">
                    <div class="orbit" role="region" aria-label="" data-orbit>
                        <ul class="orbit-container">
                            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>
                                <i class="material-icons">keyboard_arrow_left</i></button>
                            </button>
                            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>
                                <i class="material-icons">keyboard_arrow_right</i></button>
                            <li class="is-active orbit-slide">
                                <img class="orbit-image" src="assets/img/blog-img-07.jpg" alt="">
                            </li>
                            <li class="orbit-slide">
                                <img class="orbit-image" src="assets/img/blog-img-06.jpg" alt="">
                            </li>
                            <li class="orbit-slide">
                                <img class="orbit-image" src="assets/img/blog-img-05.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <figcaption class="pd-xs opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-xs"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description">
                    <h3><a href="#">5 Useful Tips for Novice Painters</a></h3>
                    <p class="hide-for-small-only">Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left hide-for-small-only">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
    </ul>

    <!-- horizontal list end -->
    <ul class="row blog-bottom-list">
        <li class="column medium-6 small-12">
            <section class="blog mg-b-s">
                <div class="blog__picture">
                    <a href="#"><img src="assets/img/blog-img-08.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description hide-for-small-only">
                    <h3><a href="#">11 Fantastic Ways Passionate</a></h3>
                    <p>Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author hide-for-small-only clearfix">
                    <div class="pd-r-xs float-left">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
        <li class="column medium-6 small-12">
            <section class="blog mg-b-s">
                <div class="blog__picture">
                    <a href="#"><img src="assets/img/blog-img-09.jpg" alt=""></a>
                    <figcaption class="pd-s opacity-bg blog__picture-figcaption">
                        <div class="float-left blog-category">Lifestyle</div>
                        <div class="float-right">
                            <span class="pd-r-s"><i class="material-icons pd-r-xxs">question_answer</i>7</span>
                            <span><i class="fa fa-heart-o pd-r-xxs" aria-hidden="true"></i>15</span>
                        </div>
                    </figcaption>
                </div>
                <div class="pd-xs blog__description">
                    <h3><a href="#">Art Makes You Mentally Healthy</a></h3>
                    <p>Lorem ipsum dolor sit amet, to consectetur adipi scing elit.
                        Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </div>
                <div class="pd-xs top-separator blog__author clearfix">
                    <div class="pd-r-xs float-left">
                        <img src="assets/img/author-02.png" alt="">
                    </div>
                    <div class="float-left">
                        <p class="pd-b-xxs">Henry Little</p>
                        <p class="blog__author-date">April 28, 2016 10:15</p>
                    </div>
                    <a class="blog__menu pd-xxs float-right"><i class="material-icons">more_vert</i></a>
                </div>
            </section>
        </li>
    </ul>
    <div class="more-btn-block mg-s show-for-medium float-right">
        <a href="#">
            <span>More</span>
            <span class="more-btn-icon">
                        <i class="material-icons">arrow_forward</i>
                    </span>
        </a>
    </div>
</article>