<aside class="large-4 medium-4 columns sidebar show-for-medium align-self-stretch">
    <form class="sidebar__search">
        <input class="input-search" type="text" placeholder="Search">
        <span><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>
    </form>
    <h3 class="bottom-separator">Categories</h3>
    <ul class="sidebar__category-block no-bullet">
        <li><a href="#">Photography<span>195</span></a></li>
        <li class="top-separator"><a href="#">Illustration<span>15</span></a></li>
        <li class="top-separator"><a href="#">Grapphic Design<span>36</span></a></li>
        <li class="top-separator"><a href="#">Web Design<span>220</span></a></li>
        <li class="top-separator"><a href="#">Videography<span>17</span></a></li>
    </ul>
    <div class="sidebar__subscribe-block bottom-separator">
        <h3 class="bottom-separator">Subscribe</h3>
        <form class="form">
            <label>Name
                <input class="input" type="text" placeholder="Igor Ten">
            </label>
            <label>Email
                <input class="input" type="email" placeholder="email@address.com">
            </label>
            <button class="button">Subscribe</button>
        </form>
    </div>
    <div class="sidebar__social-block mg-t-s">
        <ul class="social-widget row align-justify">
            <li class="column medium-2"><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="column medium-2"><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="column medium-2"><a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li class="column medium-2"><a href="#" class="pinterest-p"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li class="column medium-2"><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li class="column medium-2"><a href="#" class="tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="post-widget-block">
        <h3 class="bottom-separator">Tab post widget</h3>
        <div class="post-widget-block__btns">
            <a href="#" class="is-active">Recent Post</a>
            <a href="#">Popular Post</a>
        </div>
        <ul>
            <li class="post-widget-block__item">
                <section class="mg-b-s clearfix">
                    <div class="mg-r-s blog__picture float-left">
                        <a href="#"><img src="assets/img/blog-img-10.jpg" alt=""></a>
                    </div>
                    <div class="blog__description">
                        <p>April 28, 2016
                            <span class="pd-r-s float-right">
                                        <i class="material-icons pd-r-xxs">question_answer</i>7</span>
                        </p>
                        <a href="#">4 Natural Ways To Have Young Skin</a>
                    </div>
                </section>
            </li>
            <li class="post-widget-block__item">
                <section class="mg-b-s clearfix">
                    <div class="mg-r-s blog__picture float-left">
                        <a href="#"><img src="assets/img/blog-img-11.jpg" alt=""></a>
                    </div>
                    <div class="blog__description">
                        <p>April 28, 2016
                            <span class="pd-r-s float-right">
                                        <i class="material-icons pd-r-xxs">question_answer</i>7</span>
                        </p>
                        <a href="#">4 Natural Ways To Have Young Skin</a>
                    </div>
                </section>
            </li>
            <li class="post-widget-block__item">
                <section class="mg-b-s clearfix">
                    <div class="mg-r-s blog__picture float-left">
                        <a href="#"><img src="assets/img/blog-img-12.jpg" alt=""></a>
                    </div>
                    <div class="blog__description">
                        <p>April 28, 2016
                            <span class="pd-r-s float-right">
                                        <i class="material-icons pd-r-xxs">question_answer</i>7</span>
                        </p>
                        <a href="#">4 Natural Ways To Have Young Skin</a>
                    </div>
                </section>
            </li>
            <li class="post-widget-block__item">
                <section class="mg-b-s clearfix">
                    <div class="mg-r-s blog__picture float-left">
                        <a href="#"><img src="assets/img/blog-img-13.jpg" alt=""></a>
                    </div>
                    <div class="blog__description">
                        <p>April 28, 2016
                            <span class="pd-r-s float-right">
                                        <i class="material-icons pd-r-xxs">question_answer</i>7</span>
                        </p>
                        <a href="#">4 Natural Ways To Have Young Skin</a>
                    </div>
                </section>
            </li>
        </ul>
    </div>
    <div class="sidebar__tags">
        <h3 class="bottom-separator">Tags</h3>
        <div class="sidebar__tags-list">
            <a>Photography</a>
            <a>Webdesign</a>
            <a>Youtube</a>
            <a>Envato</a>
            <a>Art</a>
            <a>Themeforest</a>
            <a>Illustration</a>
        </div>
    </div>

</aside>