<ul class="menu sorting-block show-for-large">
    <li>Sort Blog:</li>
    <li class="active"><a>All</a></li>
    <li><a>Photography</a></li>
    <li><a>Lifestyle</a></li>
    <li><a>Trip</a></li>
    <li><a>Inspiration</a></li>
</ul>
<ul class="vertical menu sorting-block-mobile mg-b-xs hide-for-large" data-accordion-menu>
    <li>
        <a href="#">Sort Blog</a>
        <ul class="menu vertical">
            <li class="active"><a>All</a></li>
            <li><a>Photography</a></li>
            <li><a>Lifestyle</a></li>
            <li><a>Trip</a></li>
            <li><a>Inspiration</a></li>
        </ul>
    </li>
</ul>